@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    31 Leitch Ave.<br />
    Toronto, ON M3J 0E6<br />
    <abbr title="Phone">P:</abbr>
    647.331.8498
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:luysh0420@hotmail.com">luysh0420@hotmail.com</a>
</address>